.usercenter {
  width: 100%;
  min-height: 100%;
  background: #f5f5f5;
}

.header {
  position: relative;
  background: url(../images/my-bg.png);
  background-size: 100%;
  height: 158px;
  width: 100%;
}

.user-info {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: #fff;
  position: absolute;
  top: 36px;
  left: 15px;
}

.user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 12px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.msg {
  position: absolute;
  right: 25px;
  top: 25px;
  width: 16px;
  height: 18px;
}

.main {
  position: relative;
  top: -38px;
}

.list {
  margin-top: 10px;
}

.msg-button:before {
  display: inline-block;
  width: 16px;
  height: 18px;
  content: '';
  background-image: url(../images/msg-btn.png);
  background-size: 16px 18px;
}

.red-dot {
  width: 6px;
  height: 6px;
  background: #f6461d;
  border-radius: 100%;
  position: absolute;
  right: 0;
  top: 0;
}

.bmw-tab {
  width: 350px;
  height: 60px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  box-shadow: 0px 0px 8px rgba(28, 105, 212, 0.2);
}

.tab-item {
  display: flex;
  align-items: center;
}

.active {
  color: #1c69d4;
}

.item-appointment {
  width: 24px;
  height: 24px;
  background-size: 100%;
  margin-right: 6px;
  background-image: url(../images/appointment.png);
}

.tab-item.active .item-appointment {
  background-image: url(../images/appointment-on.png);
}

.item-finish {
  width: 22px;
  height: 22px;
  background-size: 100%;
  margin-right: 6px;
  background-image: url(../images/finish.png);
}

.tab-item.active .item-finish {
  background-image: url(../images/finish-on.png);
}

.order-item {
  width: 320px;
  background: #fff;
  border-radius: 10px;
  margin: 10px auto;
  padding: 5px 15px;
  position: relative;
}

.top {
  font-size: 13px;
  color: #afafaf;
  display: flex;
  justify-content: end;
  line-height: 44px;
  border-bottom: 1px solid #f5f5f5;
}

.title {
  width: 64px;
  text-align: left;
}

.orderno {
  width: 266px;
  text-align: right;
}

.item {
  font-size: 14px;
  display: flex;
  justify-content: end;
  line-height: 30px;
}

.left {
  color: #afafaf;
  width: 64px;
  text-align: left;
}

.right {
  color: #494949;
  width: 266px;
  text-align: right;
}

.right2 {
  color: #afafaf;
  width: 266px;
  text-align: right;
}

.cancel {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 10px 0;
}

.cancel-btn {
  width: 75px;
  height: 30px;
  line-height: 30px;
  border: 1px solid #afafaf;
  border-radius: 10px;
  color: #afafaf;
  font-size: 13px;
  text-align: center;
}

.hasfinish {
  width: 98px;
  height: 80px;
  background: url(../images/hasfinish.png);
  background-size: 100%;
  position: absolute;
  right: 12px;
  bottom: 12px;
}

.bottom {
  font-size: 12px;
  color: #afafaf;
  text-align: center;
}
